@import url(https://fonts.googleapis.com/css?family=Oswald:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700);



#msg-box3-56 .btn {
	font-family: 'Oswald', sans-serif;
}
#menu-52 .mbr-brand__name {
	font-size: 16px;
}
#menu-52.mbr-navbar--stuck .mbr-navbar__section {
	background: #bebaba;
}
#menu-52 .mbr-navbar__section {
}
#menu-52 .mbr-navbar__items a {
	font-family: 'Oswald', sans-serif;
	font-size: 20px;
}
#menu-52 .mbr-brand__name a {
	font-family: 'Oswald', sans-serif;
	font-size: 22px;
}



#buttons1-22 .btn {
	font-family: 'Oswald', sans-serif;
}
#menu-0 .mbr-brand__name {
	font-size: 16px;
}
#menu-0.mbr-navbar--stuck .mbr-navbar__section {
	background: #bebaba;
}
#menu-0 .mbr-navbar__section {
}
#menu-0 .mbr-navbar__items a {
	font-family: 'Oswald', sans-serif;
	font-size: 20px;
}
#menu-0 .mbr-brand__name a {
	font-family: 'Oswald', sans-serif;
	font-size: 22px;
}





#msg-box3-60 .btn {
	font-family: 'Oswald', sans-serif;
}
#menu-44 .mbr-brand__name {
	font-size: 16px;
}
#menu-44.mbr-navbar--stuck .mbr-navbar__section {
	background: #bebaba;
}
#menu-44 .mbr-navbar__section {
}
#menu-44 .mbr-navbar__items a {
	font-family: 'Oswald', sans-serif;
	font-size: 20px;
}
#menu-44 .mbr-brand__name a {
	font-family: 'Oswald', sans-serif;
	font-size: 22px;
}
#header3-22 H3 {
	font-family: 'Oswald', sans-serif !important;
}
#header3-22 P {
	font-family: 'Oswald', sans-serif !important;
}




#menu-49 .mbr-brand__name {
	font-size: 16px;
}
#menu-49.mbr-navbar--stuck .mbr-navbar__section {
	background: #bebaba;
}
#menu-49 .mbr-navbar__section {
}
#menu-49 .mbr-navbar__items a {
	font-family: 'Oswald', sans-serif;
	font-size: 20px;
}
#menu-49 .mbr-brand__name a {
	font-family: 'Oswald', sans-serif;
	font-size: 22px;
}
#header2-51 H1 {
	font-family: 'Oswald', sans-serif !important;
	font-size: 30px !important;
}
#header2-51 P {
	font-family: 'Oswald', sans-serif !important;
}











#menu-0 .mbr-brand__name {
	font-size: 16px;
}
#menu-0.mbr-navbar--stuck .mbr-navbar__section {
	background: #bebaba;
}
#menu-0 .mbr-navbar__section {
}
#menu-0 .mbr-navbar__items a {
	font-family: 'Oswald', sans-serif;
	font-size: 20px;
}
#menu-0 .mbr-brand__name a {
	font-family: 'Oswald', sans-serif;
	font-size: 22px;
}
#header2-40 H1 {
	color: #a38f84 !important;
	font-family: 'Oswald', sans-serif !important;
	font-size: 46px !important;
}
#header2-40 P {
	color: #efefef !important;
	font-family: 'Lato', sans-serif !important;
	font-size: 25px !important;
}
#header2-40 .btn {
	font-family: 'Lato', sans-serif;
}
#header2-40 SPAN {
	color: #efefef !important;
	font-size: 46px !important;
}
#header2-63 H1 {
	font-family: 'Oswald', sans-serif !important;
	color: #efefef !important;
}
#header2-63 P {
	font-family: 'Oswald', sans-serif !important;
	color: #efefef !important;
}
#header2-64 .btn {
	font-family: 'Oswald', sans-serif;
}
#header2-64 H1 {
	font-family: 'Oswald', sans-serif !important;
}
#form1-66 .mbr-header__text {
	font-family: 'Oswald', sans-serif;
	color: #efefef;
}
#form1-66 .btn {
	font-family: 'Oswald', sans-serif;
}
